# Node.js dependencies
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock
*.log
.npm/
.pnp/
.pnp.js

# Next.js build & cache
.next/
out/
.next/cache/
.vercel/
dist/
*.next

# Prisma
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/
prisma/.env

# MongoDB related
*.pem
mongodb.log
dump/
data/db/

# dotenv environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.envrc

# Editor/IDE files
.idea/
.vscode/
*.swp
*.swo
*.swn

# OS-specific
.DS_Store
Thumbs.db

# Logs & Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
debug.log
output.log
logs/

# Miscellaneous
*.bak
*.tmp
*.cache
*.swp
*.swo
*.swn
*.pid
*.seed
*.lock
*.gz

# Dependencies & Binaries
bin/
obj/
lib/
